.tags {
    margin: 20px 0 20px;
    display: block;
    font-size: 10px;
}

.tags .tag-name {
    padding: 5px 10px;
    border: solid 1px;
    text-transform: uppercase;
    border-radius: 100px;
    margin-right: 5px;
}